/* ============================== */
/*         GLOBAL STYLES          */
/* ============================== */
@font-face {
    font-family: 'Stellution';
    src: url('../content/fonts/fontoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --base-color: #1c133e;
    --light-tone: #5ee9e9;
    --mid-tone: #2890dc;
    --dark-tone: #1831a7;
    --button-fill: #3b45af;
    --button-border: #6c72ff;
    --base-highlight: #271d4d;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Stellution';
    margin: 0;
    padding: 0;
    background-color: var(--base-color);
    color: whitesmoke;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;
    overflow-x: hidden;
    image-rendering: pixelated;
}

img,
nav img {
    display: block;
    image-rendering: pixelated;
    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
}

br::selection,
img::selection {
    background-color: transparent;
}

* {
    scrollbar-color: var(--base-highlight) var(--base-color);
}

/* ============================== */
/*        GLOBAL PROPERTIES       */
/* ============================== */
.hidden {
    opacity: 0;
    transition: all 2s;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

/* ============================== */
/*        NAVIGATION BAR          */
/* ============================== */
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 105px;
    background-color: var(--base-color);
    color: white;
    box-shadow: 0 1px 1px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    transform: translateY(-120%);
    transition: transform 0.4s ease-in-out;
    z-index: 20;
    -webkit-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
}

nav.show {
    transform: translateY(0);
}

nav .left,
nav .right {
    display: flex;
    align-items: center;
    gap: 32px;
}

nav .left {
    margin-left: 16px;
}

nav .right {
    margin-right: 32px;
}

nav .left .projects {
    display: flex;
    gap: 16px;
}

nav a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: whitesmoke;
    font-size: large;
    transition: filter 0.3s;
}

nav a:hover {
    filter: saturate(0.65);
}

/* ============================== */
/*      LOGO ANIMATIONS           */
/* ============================== */
nav .stellution-logo {
    height: 94px;
    width: auto;
    transform: translateY(-150%);
    opacity: 0;
    transition: transform 2s ease-out 500ms, opacity 2s ease-out 500ms;
}

nav .stellution-logo.show {
    transform: translateY(0);
    opacity: 1;
}

.right .logo {
    transform: translateY(-150%);
    opacity: 0;
}

.right .logo.show {
    transform: translateY(0);
    opacity: 1;
}

.right .logo:nth-child(1) {
    transition: transform 2s ease-out 0.5s, opacity 2s ease-out 1s, filter 0.3s;
}

.right .logo:nth-child(2) {
    transition: transform 2s ease-out 0.75s, opacity 2s ease-out 1.5s, filter 0.3s;
}

.right .logo img {
    height: 64px;
}

/* ============================== */
/*        HEADER SECTION          */
/* ============================== */
.stellution-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none;
    margin: none;
    margin-top: 35px;
}

.stellution-header .logo-parent {
    display: inline-block;
}

.stellution-header .logo-parent:hover {
    animation: wiggle 0.65s linear both;
}

.stellution-header img {
    height: 188px;
    transition: opacity 3s ease-out 1.5s, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
    object-fit: contain;
}

.stellution-header .logo-parent:hover img {
    transform: scale(1.1);
    filter: saturate(0.65);
}

.stellution-header .header-images {
    padding: none;
    margin: none;
    margin-top: 68px;
}

.stellution-header .header-images img {
    height: auto;
    width: 512px;
    border-radius: 5%;
}

.stellution-header .header-images img:nth-child(1) {
    position: relative;
    z-index: 1;
    transform: translateX(50%) translateY(-10%);
    opacity: 0;
    left: 200px;
}

.stellution-header .header-images img:nth-child(1).show {
    transform: translateX(0) translateY(0%);
    opacity: 1;
    transition: transform 2.5s cubic-bezier(0.33, 1, 0.68, 1) 1.5s,
        opacity 2s ease-in-out 1.5s;
}

.stellution-header .header-images img:nth-child(2) {
    position: relative;
    left: -165px;
    top: -256px;
    transform: translateX(-50%) translateY(10%);
}


.stellution-header .header-images img:nth-child(2).show {
    transform: translateX(0) translateY(0);
    opacity: 1;
    transition: transform 2.5s cubic-bezier(0.33, 1, 0.68, 1) 1.5s,
        opacity 2s ease-in-out 1.5s;
}

.stellution-header .header-text {
    transition: all 1s ease-in-out 1.75s;
}

.stellution-header .header-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    align-items: center;
}

.header-text h2 {
    margin: 5px 0;
}

.header-text h1 {
    margin: 5px 0;
}

.header-text h3 {
    margin-top: 0;
    color: rgb(148, 147, 151);
    font-weight: 100;
}

.stellution-header .basic-button {
    transition: opacity 2s ease-in-out 2.5s;
}

/* ============================== */
/*           Bottom Bar           */
/* ============================== */
.bottom-bar {
    background-color: var(--base-color);
    display: flex;
    flex-direction: row-reverse;
    border-top: 2px solid var(--base-highlight);
    ;
    gap: 0px;
    width: 100%;
}

.bottom-bar .info-button {
    padding: 10px 15px 10px;
    text-decoration: none;
    color: gray;
    background-color: var(--base-color);
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
}

.bottom-bar .info-button:hover {
    color: white;
    background-color: var(--base-highlight);
}

/* ============================== */
/*            Info Tabs           */
/* ============================== */
.info {
    box-shadow: 1px 1px 34px 0px rgba(0, 0, 0, 0.75);
}

.info-container {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    transition: bottom 1s cubic-bezier(0.16, 1, 0.3, 1);
    pointer-events: auto;
    z-index: 100;
}

.info-container.show {
    bottom: 0;
}

.info-container .info {
    background-color: var(--base-color);
    border-radius: 15px;
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    width: 65%;
    height: 95.5vh;
}

.info-container .info .title {
    border-bottom: 2px solid rgb(179, 179, 179);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 0.4rem;
    width: 98.5%;
}


.info-container .info .category-marker {
    border-bottom: 1px solid rgb(179, 179, 179);
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 0.4rem;
    width: 85%;
    height: 30px;
}

.info-container .info .category-marker h2 {
    padding-left: 5px;
}

.info-container .info .text-container{
    padding-left: 10px;
    color: lightgray;
    width: 85%;
}

.info-container .info .text-container .star-point{
    color: lightgray;
    height: 0.5em;
    float:left;
    position: relative;
    top:0.2em;
    margin-right: 0.25em;
}


.info-container .info a{
    color: var(--light-tone);
}

.info-container .info h1 {
    width: fit-content;
    margin: 0 auto;
}

.info .close-button {
    stroke-width: 5px;
    stroke: white;
    transition: 0.25s;
    position: absolute;
    margin: 20px;
    margin-top: 10px;
    right: 0;
}

.info .close-button:hover {
    stroke-width: 7px;
    stroke: #931d5a;
    cursor: pointer;
}

/* ============================== */
/*         OTHER ELEMENTS         */
/* ============================== */
.background-top {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../content/svg/headerBackground.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1060px;
    z-index: -10;

    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.25);
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0px);
    visibility: hidden;
    z-index: 30;
    transition: 0.4s;
    pointer-events: none;
}

.background-blur.show {
    backdrop-filter: blur(5px);
    visibility: visible;
    pointer-events: initial;
}

.basic-button {
    position: relative;
    display: inline-block;
    background-color: var(--button-fill);
    border: 5px solid var(--button-border);
    gap: 10px;
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px 20px;
}

.basic-button .text {
    color: white;
    font-size: larger;
    transition: transform 0.4s ease;
}

.basic-button .icon {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease, visibility 0.4s ease, left 0.4s ease;
}

.basic-button:hover .text {
    transform: translateX(150%);
}

.basic-button:hover .icon {
    visibility: visible;
    left: 50%;
    transform: translateX(-50%);
}

.hoverable-div {
    cursor: pointer;
}

/* ============================== */
/*         KEYFRAME ANIMATION     */
/* ============================== */
@keyframes wiggle {
    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}